.dialogue {
    max-width: 90%;
    width: 25em !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.footer-flex {
    display: flex;
    flex-direction: row;
}

.flexible-space {
    flex: 1;
}