@import "~@blueprintjs/core/lib/scss/variables";

.snippet-cell {
    // background-color: $dark-gray2;
    // border-color: ;
    border: 1px solid transparentize($color: ($dark-gray2), $amount: 0.3);
    padding: $pt-grid-size;
    border-radius: $pt-grid-size / 2;
    transition: background-color 100ms ease-in-out;
}

.snippet-cell:nth-child(n+2) {
    margin-top: $pt-grid-size / 2;
}

.snippet-cell:hover {
    background-color: $dark-gray4;
}

.selected {
    border: 1px solid transparentize($color: ($dark-gray2), $amount: 0.3);
    border-color: $pt-icon-color-selected;
}

.search-result-match {
    background-clip: padding-box;
    background-color: rgb(243, 206, 109);
    color: #000;
    border: 1px solid darken(rgb(243, 206, 109), 15);
    margin: -1px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
