@import "~@blueprintjs/core/lib/scss/variables";

.table {
  padding: $pt-grid-size;
  background-color: darken($pt-dark-app-background-color, 3);
  float: left;
  width: 20%;
  bottom: 0;
}

.header {
  display: flex;
  flex-direction: row;
}

.search-field {
  display: inline-block;
  margin: 0;
  flex: 1 1;
  margin-right: $pt-grid-size;
}

.body {
  margin-top: $pt-grid-size;
  overflow-y: scroll;
}

.add-button {
  float: right;
  margin: 0;
}