@import "~@blueprintjs/core/lib/scss/variables";

.snippet-cell {
    // background-color: $dark-gray2;
    // border-color: ;
    border: 1px solid transparentize($color: ($dark-gray2), $amount: 0.3);
    padding: $pt-grid-size;
    border-radius: $pt-grid-size / 2;
    transition: background-color 100ms ease-in-out;
}

.snippet-cell:nth-child(n+2) {
    margin-top: $pt-grid-size / 2;
}

.snippet-cell:hover {
    background-color: $dark-gray4;
}

.selected {
    border: 1px solid transparentize($color: ($dark-gray2), $amount: 0.3);
    border-color: $pt-icon-color-selected;
}