@import "~@blueprintjs/core/lib/scss/variables";

.table {
  background-color: darken($pt-dark-app-background-color, 3);
  float: left;
  width: 20%;
  bottom: 0;
}

.header {
  display: flex;
  flex-direction: row;
  padding: $pt-grid-size;
  height: 7vh;
}

.search-field {
  display: inline-block;
  margin: 0;
  flex: 1 1;
  margin-right: $pt-grid-size;
}

.item-container{
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
  height: 93vh;
}

.body {
  padding: $pt-grid-size;
}

.add-button {
  float: right;
  margin: 0;
}